<div class="mainWrap">
    <div class="personalDetailWrap">
        <div class="personalHeadingWrap"> 
            <div class="HeadPersonal">
                <b>Personal Details</b>
            </div>
        </div>
        <div class="personalBodyWrap">
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Applicant's Name 
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" name="student_name" #student_name="ngModel" class="form-control" [(ngModel)]="student.student_name">
                </div> 
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Date of Birth <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="date" class="form-control field-mandatory datepicker" name="student_DOB" #student_DOB="ngModel" [(ngModel)]="student.student_DOB">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Father's name <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text"  class="form-control" name="student_father" #student_father="ngModel" [(ngModel)]="student.student_father">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Mother's Name <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text"  class="form-control" name="student_mother" #student_mother="ngModel" [(ngModel)]="student.student_mother">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Reservation Category <span style="color: red">*</span>
                </div>
                <div class="InformationSelectGetWrap">

                    <select class="browser-default custom-select"
                    name="student_category" [(ngModel)]="student.student_category">
                        <option>
                            Select Category
                        </option>
                        <option value="general">General</option>
                    </select>
                </div>
            </div>
 
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Gender <span style="color: red">*</span>
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select"
                    name="student_gender" [(ngModel)]="student.student_gender">
                        <option>
                            Select Gender
                        </option>
                        <option [value]="male">Male</option>
                        <option [value]="frmale">feMale</option>
                    </select>
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Nationality <span style="color: red">*</span>
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select" 
                    name="student_nationality" [(ngModel)]="student.student_nationality">
                        <option>
                            Select Nationality
                        </option>
                        <option value="indian">Indian</option>
                    </select>
                </div>
            </div> 
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    State of Domicile <span style="color: red">*</span>
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select" 
                    name="student_domicile" [(ngModel)]="student.student_domicile">
                        <option [ngValue]="null">
                            Select State
                        </option>
                        <option value="haryana">Haryana</option>
                    </select>
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Blood Group
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select"
                    name="student_blood" [(ngModel)]="student.student_blood">
                        <option>
                            Select Blood Group
                        </option>
                        <option value="AB">AB+</option>
                    </select>
                </div>
            </div>


            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Email ID <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_email" #student_email="ngModel" [(ngModel)]="student.student_email">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter parents Email ID
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_parent_email" #student_parent_email="ngModel" [(ngModel)]="student.student_parent_email">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Mobile Number <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="number" class="form-control" name="student_ph" #student_ph="ngModel" [(ngModel)]="student.student_ph">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter Father's Mobile Number <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="number" class="form-control" name="student_father_ph" #student_father_ph="ngModel" [(ngModel)]="student.student_father_ph">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Enter UID/Aadhar Number <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="number" class="form-control" name="student_aadhar" #student_aadhar="ngModel" [(ngModel)]="student.student_aadhar">
                </div>
            </div>
        </div>
    </div>

    <div class="personalDetailWrap">
        <div class="personalHeadingWrap">
            <div class="HeadPersonal">
                <b>Correspondence Address</b>
            </div>
        </div>
        <div class="personalBodyWrap">
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Address Line 1
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" placeholder="House Number" class="form-control" 
                    name="student_corr_address1" #student_corr_address1="ngModel" [(ngModel)]="student.student_corr_address1">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Address Line 2
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" placeholder="Street/Lane" class="form-control" 
                    name="student_corr_address2" #student_corr_address2="ngModel" [(ngModel)]="student.student_corr_address2">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    City/Village
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_corr_city" #student_corr_city="ngModel"
                     [(ngModel)]="student.student_corr_city">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    District
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_corr_district" #student_corr_district="ngModel" [(ngModel)]="student.student_corr_district">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    State
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_corr_state" #student_corr_state="ngModel" [(ngModel)]="student.student_corr_state">
                </div>
            </div>
            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Country
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_corr_country" #student_corr_country="ngModel" [(ngModel)]="student.student_corr_country">
                </div>
            </div>

            <div class="rowWrap">
                <div class="InformationPutWrap">
                    Pin Code
                    <span style="color: red">*</span>
                </div>
                <div class="InformationGetWrap">
                    <input type="text" class="form-control" name="student_corr_pincode" student_corr_pincode="ngModel" [(ngModel)]="student.student_corr_pincode">
                </div>
            </div>
        </div>
    </div>

    <div class="personalDetailWrap">
            <div class="personalHeadingWrap">
                <div class="HeadPersonal">
                    <b>Permanent Address</b>
                </div>
            </div>
            <div class="sameAddressWrap">
                <div class="textAreaWrap">
                        Permanent Address same as Corrrespondence Address?
                </div>
                <div class="RadioButtonWrap">
                    <input type="radio" name="Yes">Yes
                    <input type="radio" name="Yes" checked>No
                </div>
            </div>
            <div class="personalBodyWrap">
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        Address Line 1
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" placeholder="House Number" class="form-control" 
                        name="student_parr_address" #student_parr_address="ngModel" [(ngModel)]="student.student_parr_address">
                    </div>
                </div>
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        Address Line 2
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" placeholder="Street/Lane" class="form-control" 
                        name="student_parraddress" #student_parraddress="ngModel" [(ngModel)]="student.student_parraddress">
                    </div>
                </div>
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        City/Village
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" class="form-control" name="student_parrcity" #student_parrcity="ngModel"
                        [(ngModel)]="student.student_parrcity">
                    </div>
                </div>
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        District
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" class="form-control" name="student_parrdistrict" #student_parrdistrict="ngModel"
                        [(ngModel)]="student.student_parrdistrict">
                    </div>
                </div>
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        State
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" class="form-control" name="student_parrstate" #student_parrstate="ngModel"
                        [(ngModel)]="student.student_parrstate">
                    </div>
                </div>
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        Country
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" class="form-control" name="student_parrcountry" #student_parrcountry="ngModel"
                        [(ngModel)]="student.student_parrcountry">
                    </div>
                </div>
                
                <div class="rowWrap">
                    <div class="InformationPutWrap">
                        Pin Code
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationGetWrap">
                        <input type="text" class="form-control" name="student_parrpincode" #student_parrpincode="ngModel"
                        [(ngModel)]="student.student_parrpincode">
                    </div>
                </div>
            </div>
        </div>

        <div class="personalDetailWrap">
                <div class="personalHeadingWrap">
                    <div class="HeadPersonal">
                        <b>Course Choices</b>
                    </div>
                </div>
                <div class="personalBodyWrap">
                        <div class="rowWrap">
                                <div class="InformationPutWrap">
                                    Select Class
                                </div>
                                <div class="InformationSelectGetWrap">
                                    <select class="browser-default custom-select"
                                    name="student_course" [(ngModel)]="student.student_course" >
                                        <option>Select</option>
                                        <option value="9">9</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                </div>
        </div>
   <!--
        <div class="personalDetailWrap">
                <div class="personalHeadingWrap">
                    <div class="HeadPersonal">
                        <b>Upload Photo</b>
                    </div>
                </div>
                <div class="personalBodyWrap">
                    <div class="rowWrap">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                         <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                          </div>             
                    </div>
                </div>
        </div>
        -->  
        <div class="buttonWrap"> 
            <div class="buttonDiv">
            <button class="btn btn-primary" (click)="onSubmit(student)">Submit</button>
        </div>
        </div>
</div>
