<div class="mainWrap">
    <div class="container">
        <div class="mainDiv">
            <form #addFeePattern="ngForm" (ngSubmit)="onAdd()">


                <div class="rowWrap">
                    <div class="labelWrap">
                        Merchant Name:
                        <span style="color: red">*</span>
                    </div>
                    <div class="inputWrap">
                        <input type="text" name="total_tution_fee" #companyName="ngModel" required
                            [(ngModel)]="companyDetails.companyName" class="form-control">
                        <div *ngIf="companyName.touched && companyName.invalid">
                            <div class="validation" *ngIf="companyName.errors['required']">
                                Please enter company name
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rowWrap">
                    <div class="labelWrap">
                        Merchant IP:
                        <span style="color: red">*</span>
                    </div>
                    <div class="inputWrap">
                        <input type="text" name="total_academic_fee" #companyIP="ngModel" required
                            [(ngModel)]="companyDetails.companyIP" class="form-control">
                        <div *ngIf="companyIP.touched && companyIP.invalid">
                            <div class="validation" *ngIf="companyIP.errors['required']">
                                Please enter company IP
                            </div>
                        </div>
                    </div>
                </div>



                <div class="buttonWrap">
                    <div class="buttonWrapMemory">
                        <button class="btn btn-primary" [disabled]="!addFeePattern.form.valid">Add</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
