.mainWrap {
    float: left;
    overflow: hidden;
    max-width: 100%;
  }
  .mainDiv {
      float: left;
      width: 100%;
  }
  .rowWrap {
      float: left;
      width: 50%;
      padding: 15px;
  }
  .labelWrap {
      float: left;
      margin-top: 7px;
      padding-right: 10px;
      text-align: right;
      width: 45%;
  }
  .inputWrap {
      float: left;
      width: 50%;
  }
  .inputWrap select {
    float: left;
    padding: 7px;
    border: 1px solid #8080806e;
    border-radius: 4px;
    background-color: white;
    width: 99%; 
  }
  .buttonWrap {
      float: left;
      width: 100%;
      padding-top: 10px; 
  }
  .buttonWrapMemory {
      width: 15%;
      margin: auto;
  }
  .buttonWrap button {
      width: 100%;
      float: left;
  }
  .forCardWrap{
    float: left;
    width: 100%;  
    padding: 1%;
  }
  .testHeadWrap {
    float: left;
    background-color: #80808000;
    box-shadow: 0px 1px 8px 3px #0000ff59;
    padding: 1%;
    margin-bottom: 10px;
    width: 50%;
}

.rowWrapCard {
    float: left;
    width: 100%;
    padding: 15px;
}