.mainWrap {
    float: left;
    overflow: hidden;
    max-width: 100%;
}
.mainDiv {
    float: left;
    width: 100%;
}
.rowWrap {
    float: left;
    width: 50%;
    padding: 15px;
}
.inputWrap {
    float: left;
    width: 50%;
}
.labelWrap {
    float: left;
    margin-top: 7px;
    padding-right: 10px;
    text-align: right;
    width: 30%;
}

.InformationSelectGetWrap{
    float: left;
    width: 50%;
}
.InformationSelectGetWrap select{
    float: left;
    width: 100%;
    color: gray;
    border: 1px solid #80808073;
    background-color: white;
    height: 32px;
}
.buttonWrap {
    float: left;
    width: 100%;
    padding-top: 10px; 
}
.buttonWrapMemory {
    width: 10%;
    margin: auto;
}
.buttonWrap button {
    width: 100%;
    float: left;
}