<div class="mainWrap">
        <div class="container">
            <div class="mainDiv">
    
                <div class="rowWrap">
                    <div class="labelWrap">
                        Fee Pattern Name :
                    </div>
                    <div class="inputWrap">
                        <input type="text" name="ApplicationNumber" class="form-control">
                    </div>
                </div>
    
                <div class="rowWrap">
                        <div class="labelWrap">
                           Type :
                        </div>
                        <div class="InformationSelectGetWrap">
                            <select class="browser-default custom-select" 
                            name="nationality">
                                <option>
                                    Select Category
                                </option>
                                <option value="General">General</option>
                                <option value="General">SC</option>
                            </select>
                        </div>
                </div>

                <div class="rowWrap">
                        <div class="labelWrap">
                            Tution Fee:
                        </div>
                        <div class="inputWrap">
                            <input type="text" name="ApplicationNumber" class="form-control">
                        </div>
                </div>
    
                <div class="rowWrap">
                        <div class="labelWrap">
                            Academic Fee:
                        </div>
                        <div class="inputWrap">
                            <input type="text" name="ApplicationNumber" class="form-control">
                        </div>
                </div>

                <div class="rowWrap">
                        <div class="labelWrap">
                            Hostel Fee:
                        </div>
                        <div class="inputWrap">
                            <input type="text" name="ApplicationNumber" class="form-control">
                        </div>
                </div>
            </div>
        </div>
    </div>