<div class="mainWrap">
        <div class="container">
            <div class="mainDiv">
    
                <div class="rowWrap">
                    <div class="labelWrap">
                        Class :
                    </div>
                    <div class="inputWrap">
                        <input type="text" name="fee_pattern_class_name" #fee_pattern_class_name="ngModel" [(ngModel)]="feePattern.fee_pattern_class_name" class="form-control">
                    </div>
                </div>

                <div class="rowWrap">
                        <div class="labelWrap">
                            Batch :
                        </div>
                        <div class="inputWrap">
                            <input type="text"  name="fee_pattern_batch" #fee_pattern_batch="ngModel" [(ngModel)]="feePattern.fee_pattern_batch" class="form-control">
                        </div>
                    </div>
    
                <div class="rowWrap">
                        <div class="labelWrap">
                           Type :
                        </div>
                        <div class="InformationSelectGetWrap">
                            <select class="browser-default custom-select" 
                            name="fee_pattern_type" [(ngModel)]="feePattern.fee_pattern_type">
                                <option>
                                    Select Category
                                </option>
                                <option value="General">General</option>
                                <option value="SC">SC</option>
                            </select>
                        </div>
                </div>


            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary" (click)="onAdd()">Add</button>
            </div>
            </div>

             
            </div>
        </div>
    </div>