<div class="mainWrap">
    <div class="container">
       
        <div class="mainDiv"> 

            <div class="rowWrap">
                <div class="labelWrap">
                    Batch / Course :
                </div>
                <div class="inputWrap">
                    <input type="text" name="ApplicationNumber" class="form-control">
                </div>
            </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Academic Year :
                </div>
                <div class="inputWrap">
                    <input type="text" name="Name" class="form-control">
                </div>
            </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Start Date :
                </div>
                <div class="inputWrap">
                    <input type="date" name="Name" class="form-control">
                </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                       End Date :
                    </div>
                    <div class="inputWrap">
                        <input type="date" name="Name" class="form-control">
                    </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                       Intake :
                    </div>
                    <div class="inputWrap">
                        <input type="text" name="Name" class="form-control">
                    </div>
            </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Fee Pattern :
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select" 
                    name="nationality">
                        <option>
                            Select Category
                        </option>
                        <option value="General">General</option>
                    </select>
                </div>
            </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary">Save</button>
            </div>
            </div>
        </div>
    </div>
</div>
 