<div class="mainWrap">
    <div class="container">

        <div class="mainDiv">
            <form #addFeePattern="ngForm" (ngSubmit)="onAdd()">

                <div class="rowWrap">
                    <div class="labelWrap">
                        Batch/ Course :
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationSelectGetWrap">
                        <select class="browser-default custom-select" name="batch" required
                            [(ngModel)]="feePattern.batch">
                            <option>
                                Select
                            </option>
                            <option value="10">10</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                        </select>
                        <!--<div *ngIf="batch.touched && batch.invalid">
                            <div class="validation" *ngIf="batch.errors['required']">
                                Please enter batch
                            </div>
                        </div>-->
                        <!--<div *ngIf="isSubmitted && batch.errors?.required">
                            <sup>*</sup>Please enter batch
                        </div>-->
                    </div>
                </div>


                <div class="rowWrap">
                    <div class="labelWrap">
                        Academic Year :
                        <span style="color: red">*</span>
                    </div>
                    <div class="InformationSelectGetWrap">
                        <select class="browser-default custom-select" name="academic_year" required
                            [(ngModel)]="feePattern.academic_year">
                            <option>
                                Select
                            </option>
                            <option value="2019-2020">2019-2020</option>
                            <option value="2020-2021">2020-2021</option>
                            <option value="2021-2022">2021-2022</option>
                        </select>
                        <!--   <div *ngIf="academic_year.touched && academic_year.invalid">
                                <div class="validation" *ngIf="academic_year.errors['required']">
                                    Please enter academic_year
                                </div>
                            </div>-->
                        <!--<div *ngIf="isSubmitted && academic_year.errors?.required">
                            <sup>*</sup>Please enter  academic_year
                        </div>-->

                    </div>
                </div>

                <div class="rowWrap">
                    <div class="labelWrap">
                        Start Date :
                    </div>
                    <div class="inputWrap">
                        <input type="date" #start_date="ngModel" name="start_date" required [(ngModel)]="feePattern.start_date"
                            class="form-control">
                        <div *ngIf="start_date.touched && start_date.invalid">
                            <div class="validation" *ngIf="start_date.errors['required']">
                                Please enter start_date
                            </div>
                        </div>

                    </div>
                </div>

                <div class="rowWrap">
                    <div class="labelWrap">
                        End Date :
                    </div>
                    <div class="inputWrap">
                        <input type="date" #end_date="ngModel"  name="end_date" required [(ngModel)]="feePattern.end_date"
                            class="form-control">
                        <div *ngIf="end_date.touched && end_date.invalid">
                            <div class="validation" *ngIf="end_date.errors['required']">
                                Please enter end_date
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rowWrap">
                    <div class="labelWrap">
                        Intake :
                    </div>
                    <div class="inputWrap">
                        <input type="text" #intake="ngModel" name="intake" required [(ngModel)]="feePattern.intake"
                            class="form-control">
                        <div *ngIf="intake.touched && intake.invalid">
                            <div class="validation" *ngIf="intake.errors['required']">
                                Please enter intake
                            </div>
                        </div>
                    </div>
                </div>


                <div class="buttonWrap">
                    <div class="buttonWrapMemory">
                        <button class="btn btn-primary" [disabled]="!addFeePattern.form.valid">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>