<div class="mainWrap">
    <div class="container">
       
        <div class="mainDiv"> 

            <div class="rowWrap">
                <div class="labelWrap">
                    Batch/ Course :
                </div>
                <div class="InformationSelectGetWrap">
                    <select class="browser-default custom-select" 
                    name="batch" [(ngModel)]="feePattern.batch">
                        <option>
                            Select 
                        </option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                        Academic Year :
                    </div>
                    <div class="InformationSelectGetWrap">
                        <select class="browser-default custom-select" 
                        name="academic_year" [(ngModel)]="feePattern.academic_year">
                            <option>
                                Select 
                            </option>
                            <option value="2019-2020">2019-2020</option>
                            <option value="2020-2021">2020-2021</option>
                            <option value="2021-2022">2021-2022</option>
                        </select>
                    </div>
                </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Start Date :
                </div>
                <div class="inputWrap">
                    <input type="date" #start_date="ngModel" [(ngModel)]="feePattern.start_date" class="form-control">
                </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                       End Date :
                    </div>
                    <div class="inputWrap">
                        <input type="date" #end_date="ngModel" [(ngModel)]="feePattern.end_date" class="form-control">
                    </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                       Intake :
                    </div>
                    <div class="inputWrap">
                        <input type="text" #intake="ngModel" [(ngModel)]="feePattern.intake" class="form-control">
                    </div>
            </div>


            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary" (click)="onAdd()">Save</button>
            </div>
            </div>
        </div>
    </div>
</div>
 