<div class="sidebarwrap">
    <ul class="listwrap">
        <!-- <li (click)="permissionAdmin()">
            <a>
                <i class="fa fa-plus" aria-hidden="false"></i>Admission </a>
        </li>
        <div class="listWrap" *ngIf="isAdmission">
            <ul class="listwrap">
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/admitStudent'] ">
                        <i class="fa fa-user-o fa-lg"></i>Admit Student</a>
                </li>
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/currentBatch'] ">
                        <i class="fa fa-user-o fa-lg"></i>Create Batch</a>
                </li>
            </ul>
        </div> -->
        <li >
            <a [routerLink]="[ '/createCompany'] " (click)="actElement('createCompany')"
            [ngClass]="'createCompany' === activeElement ? 'active' : 'none'">
                <i class="fa fa-user-o fa-lg"></i>
                Merchant
            </a>
        </li>

        <li >
          <a [routerLink]="[ '/createComponents'] " (click)="actElement('createComponents')"
           [ngClass]="'createComponents' === activeElement ? 'active' : 'none'">
              <i class="fa fa-user-o fa-lg"></i>
              Create Components
          </a>


      </li>


        <li >
          <a [routerLink]="[ '/assignComponent'] " (click)="actElement('assignComponent')"
           [ngClass]="'assignComponent' === activeElement ? 'active' : 'none'">
              <i class="fa fa-user-o fa-lg"></i>
              Assign Components
          </a>


      </li>

    </ul>
</div>
