<div class="sidebarwrap">
    <ul class="listwrap">
        <li (click)="permissionAdmin()"> 
            <a>
                <i class="fa fa-plus" aria-hidden="false"></i>Admission </a>
        </li>
        <div class="listWrap" *ngIf="isAdmission">
            <ul class="listwrap">
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/admitStudent'] ">
                        <i class="fa fa-user-o fa-lg"></i>Admit Student</a>
                </li>
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/currentBatch'] ">
                        <i class="fa fa-user-o fa-lg"></i>Create Batch</a>
                </li>
            </ul>
        </div>
        <li >
            <a [routerLink]="[ '/feeHeads'] " (click)="actElement('feeHead')"  [ngClass]="'feeHead' === activeElement ? 'active' : 'none'">
                <i class="fa fa-user-o fa-lg"></i>Fee Heads</a>
        </li>
        <li >
            <a [routerLink]="[ '/feeHeadsCollect'] " (click)="actElement('feeHeadCollect')" [ngClass]="'feeHeadCollect' === activeElement ? 'active' : 'none'">
                <i class="fa fa-user-o fa-lg"></i>Fee Heads Collect</a>
        </li>
        <li >
                <a [routerLink]="[ '/feePatterns'] "  (click)="actElement('feePattern')" [ngClass]="'feePattern' === activeElement ? 'active' : 'none'">
                    <i class="fa fa-user-o fa-lg"></i>Fee Pattern</a>
        </li>
        <li >
            <a [routerLink]="[ '/pdf'] "  (click)="actElement('pdf')" [ngClass]="'pdf' === activeElement ? 'active' : 'none'">
                <i class="fa fa-user-o fa-lg"></i>Generate PDF</a>
    </li>
    </ul>
</div>