<div class="mainWrap">
        <div class="headWrap">
                <div class="titleHeadWrap">
                    Admit Student
                </div>
                <div class="buttonHeadWrap">
                    <button class="btn btn-primary" (click)="goBack()" >Go Back</button>
                </div>
            </div>
    <div class="container">
       
        <div class="mainDiv">
 
                <div class="rowWrap">
                        <div class="labelWrap">
                           Batch :
                        </div>
                        <div class="InformationSelectGetWrap">
                            <select class="browser-default custom-select" 
                            name="student_batch" [(ngModel)]="admitDetails.student_batch">
                                <option>
                                    Select Batch
                                </option>
                                <option *ngFor="let i of batchesList.batch">
                                    {{i}}
                                 </option>   
                            </select>
                        </div>
                    </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary" (click)="saveBatch()">Save</button>
            </div>
            </div>
        </div>
    </div>
</div>
