<div class="mainWrap">
    <div class="container">
        <div class="mainDiv">

            <div class="rowWrap">
                <div class="labelWrap">
                    Admission Number :
                </div>
                <div class="inputWrap">
                    <input type="text" name="ApplicationNumber" class="form-control">
                </div>
            </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>

        <div class="forCardWrap">
            <div class="cardWrap">
                <div class="nameWrap">
                    <div class="ServiceHeadingWrap">
                        <h3>Ankush Bansal</h3>
                    </div>
                </div>

                <div class="nameWrap">
                    <div class="CrmIdPutWrap">
                      <h3>Application Number : </h3>
                    </div>
                    <div class="CrmIdGetWrap">
                      <p>9874563210</p>
                    </div>
         </div>

                <div class="nameWrap">
                        <div class="CrmIdPutWrap">
                          <h3>Contact Number : </h3>
                        </div>
                        <div class="CrmIdGetWrap">
                          <p>8295581106</p>
                        </div>
             </div>
             <div class="nameWrap">
                    <div class="CrmIdPutWrap">
                      <h3>Class : </h3>
                    </div>
                    <div class="CrmIdGetWrap">
                      <p>8th</p>
                    </div>
            </div>

            <div class="feeWrap">
                <div class="textAreaWrap">
                    <p><b>Amount to be paid</b></p>
                </div>
                <div class="ButtonAreaWrap">
                    <button class="btn btn-primary" [routerLink]="['./feeStructure']" routerLinkActive="router-link-active" >2000</button>
                </div>
            </div>


            </div>

        </div>
    </div>
</div>