<div class="mainWrap">
    <div class="container">
        <div class="mainDiv">

            <div class="rowWrap">
                <div class="labelWrap">
                    Application Number :
                </div>
                <div class="inputWrap">                    
                    <input type="text" name="id" #id="ngModel" class="form-control"
                    [(ngModel)]="studentData.id" >
                </div>
            </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Name :
                </div>
                <div class="inputWrap">
                        <input type="text" name="student_name" #student_name="ngModel" class="form-control"
                        [(ngModel)]="studentData.student_name" >
                </div>
            </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary" (click)="onSearch()">Search</button>
            </div>
            </div>
        </div>
    </div> 

    <div class="tableWrap">
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th style="width: 125px">Admission No.</th>
                <th style="width: 125px">Name</th>
                <th style="width: 125px">Class</th>
                <th style="width: 125px">Contact Number</th>
                <th style="width: 125px">Status</th>
            </tr>
            <tr>
                <td>101</td>
                <td>Ankush</td>
                <td>3co2</td>
                <td>8295581106</td>
                <td>
                    <button class="btn btn-primary" routerLink="admit">Admit</button>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
