<div class="mainWrap">
    <div class="container">
        <div class="mainDiv">

            <div class="rowWrap">
                <div class="labelWrap">
                    Company Name :
                </div>
                <div class="inputWrap">
                  <select class="browser-default custom-select" name="batch" required
                  >
                  <option>
                      Select
                  </option>
                  <option value="10">Grocery</option>
                  <option value="9">Furniture</option>

              </select>
                </div>
            </div>

            <div class="rowWrap">
              <div class="labelWrap">
                  Component Type :
              </div>
              <div class="inputWrap">
                <select class="browser-default custom-select" name="batch" required
                >
                <option>
                    Select
                </option>
                <option value="10">Header</option>
                <option value="9">Footer</option>

            </select>
              </div>
          </div>

          <div class="rowWrap">
            <div class="labelWrap">
                 To be Active :
            </div>
            <div class="inputWrap">
              <div class="InformationSelectGetWrap">
                <select class="browser-default custom-select" name="batch" required
                    >
                    <option>
                        Select
                    </option>
                    <option value="10">True</option>
                    <option value="9">False</option>

                </select>
            </div>
            </div>
        </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                    <button class="btn btn-primary" (click)="onSearch()">Save</button>
                </div>
            </div>
        </div>


    </div>
</div>


