<div class="mainWrap">
    <div class="container">
        <div class="mainDiv">

            <div class="rowWrap">
                <div class="labelWrap">
                    Application Number :
                </div>
                <div class="inputWrap">
                    <input type="text" name="id" id="ngModel" [(ngModel)]="payment.id" class="form-control">
                </div>
            </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                    <button class="btn btn-primary" (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>

        <div class="forCardWrap" *ngIf="isPaymentSearched">
            <div class="card">
                <div class="testHeadWrap">
                    <div class="rowWrapCard">
                        <div class="labelWrap">
                            Amount Payable :
                        </div>
                        <div class="inputWrap">
                            <input type="text" name="amount" #amount="ngModel" [(ngModel)]="payment.amount" class="form-control">
                        </div>
                    </div>

                    <div class="rowWrapCard">
                            <div class="labelWrap">
                                Payment Mode :
                            </div>
                            <div class="inputWrap">
                                    <select class="browser-default custom-select"
                                    name="payment_mode" #payment_mode="ngModel"  [(ngModel)]="payment.payment_mode" (change)="paymentMethod($event.target.value)">
                                        <option >
                                            Select Category
                                        </option>
                                        <option  value="CASH" >Cash</option>
                                        <option value="CHEQUE">Cheque</option>
                                    </select>
                            </div>
                    </div>

                    <div class="rowWrapCard" *ngIf="isCheque">
                            <div class="labelWrap">
                               Cheque Number :
                            </div>
                            <div class="inputWrap">
                                <input type="text" name="cheque_no" #cheque_no="ngModel" [(ngModel)]="payment.cheque_no" class="form-control">
                            </div>
                        </div>

                        <div class="buttonWrap">
                                <div class="buttonWrapMemory">
                                    <button class="btn btn-primary" (click)="onPayment()">Collect</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>